# Julia for Data Science

* Data
* **Data processing**
* Visualization

### Data processing: Data manipulation in Julia
In what's next, we will see how to do some manipulation over our Data in Julia.

## Data Manipulation

In [38]:
using DataFrames, DataFramesMeta
using CSV
using Statistics

┌ Info: Precompiling DataFramesMeta [1313f7d8-7da2-5740-9ea0-a2ca25f37964]
└ @ Base loading.jl:1186

In [54]:
df = CSV.File("iris_data.csv") |> DataFrame;

In [56]:
head(df)

6×5 DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species │
│     │ Float64⍰     │ Float64⍰    │ Float64⍰     │ Float64⍰    │ String⍰ │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ setosa  │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ setosa  │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ setosa  │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ setosa  │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ setosa  │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ setosa  │

Ex. let's convert the colomuns types to Float32 and species from String to Categorical

In [26]:
for i =1:5
    if i < 5
        df[i] = convert(Array{Float32,1},df[i])
    else
        categorical!(df,:species)
    end
end

head(df)

6×5 DataFrame. Omitted printing of 1 columns
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │
│     │ Float32      │ Float32     │ Float32      │ Float32     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 5.0          │ 2.0         │ 3.5          │ 1.0         │
│ 2   │ 6.0          │ 2.2         │ 4.0          │ 1.0         │
│ 3   │ 6.0          │ 2.2         │ 5.0          │ 1.5         │
│ 4   │ 6.2          │ 2.2         │ 4.5          │ 1.5         │
│ 5   │ 4.5          │ 2.3         │ 1.3          │ 0.3         │
│ 6   │ 5.0          │ 2.3         │ 3.3          │ 1.0         │

In [27]:
describe(df)

5×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable     │ mean    │ min    │ median │ max       │ nunique │
│     │ Symbol       │ Union…  │ Any    │ Union… │ Any       │ Union…  │
├─────┼──────────────┼─────────┼────────┼────────┼───────────┼─────────┤
│ 1   │ sepal_length │ 5.84333 │ 4.3    │ 5.8    │ 7.9       │         │
│ 2   │ sepal_width  │ 3.054   │ 2.0    │ 3.0    │ 4.4       │         │
│ 3   │ petal_length │ 3.75867 │ 1.0    │ 4.35   │ 6.9       │         │
│ 4   │ petal_width  │ 1.19867 │ 0.1    │ 1.3    │ 2.5       │         │
│ 5   │ species      │         │ setosa │        │ virginica │ 3       │

In [28]:
groupby(df, :species)

GroupedDataFrame with 3 groups based on key: :species
First Group: 50 rows. Omitted printing of 1 columns
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │
│     │ Float32      │ Float32     │ Float32      │ Float32     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 5.0          │ 2.0         │ 3.5          │ 1.0         │
│ 2   │ 6.0          │ 2.2         │ 4.0          │ 1.0         │
│ 3   │ 6.2          │ 2.2         │ 4.5          │ 1.5         │
│ 4   │ 5.0          │ 2.3         │ 3.3          │ 1.0         │
│ 5   │ 5.5          │ 2.3         │ 4.0          │ 1.3         │
│ 6   │ 6.3          │ 2.3         │ 4.4          │ 1.3         │
│ 7   │ 4.9          │ 2.4         │ 3.3          │ 1.0         │
│ 8   │ 5.5          │ 2.4         │ 3.8          │ 1.1         │
│ 9   │ 5.5          │ 2.4         │ 3.7          │ 1.0         │
│ 10  │ 5.1          │ 2.5         │ 3.0          │ 1.1         │
⋮
│ 40  │ 6.1          │ 3.0         │ 4.6          │ 1.4         │
│ 41  │ 6.6          │ 3.0         │ 4.4          │ 1.4         │
│ 42  │ 6.7          │ 3.0         │ 5.0          │ 1.7         │
│ 43  │ 6.7          │ 3.1         │ 4.4          │ 1.4         │
│ 44  │ 6.7          │ 3.1         │ 4.7          │ 1.5         │
│ 45  │ 6.9          │ 3.1         │ 4.9          │ 1.5         │
│ 46  │ 5.9          │ 3.2         │ 4.8          │ 1.8         │
│ 47  │ 6.4          │ 3.2         │ 4.5          │ 1.5         │
│ 48  │ 7.0          │ 3.2         │ 4.7          │ 1.4         │
│ 49  │ 6.3          │ 3.3         │ 4.7          │ 1.6         │
│ 50  │ 6.0          │ 3.4         │ 4.5          │ 1.6         │
⋮
Last Group: 50 rows. Omitted printing of 1 columns
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │
│     │ Float32      │ Float32     │ Float32      │ Float32     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 4.5          │ 2.3         │ 1.3          │ 0.3         │
│ 2   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │
│ 3   │ 4.3          │ 3.0         │ 1.1          │ 0.1         │
│ 4   │ 4.4          │ 3.0         │ 1.3          │ 0.2         │
│ 5   │ 4.8          │ 3.0         │ 1.4          │ 0.1         │
│ 6   │ 4.8          │ 3.0         │ 1.4          │ 0.3         │
│ 7   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │
│ 8   │ 5.0          │ 3.0         │ 1.6          │ 0.2         │
│ 9   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │
│ 10  │ 4.8          │ 3.1         │ 1.6          │ 0.2         │
⋮
│ 40  │ 5.4          │ 3.7         │ 1.5          │ 0.2         │
│ 41  │ 5.1          │ 3.8         │ 1.5          │ 0.3         │
│ 42  │ 5.1          │ 3.8         │ 1.9          │ 0.4         │
│ 43  │ 5.1          │ 3.8         │ 1.6          │ 0.2         │
│ 44  │ 5.7          │ 3.8         │ 1.7          │ 0.3         │
│ 45  │ 5.4          │ 3.9         │ 1.7          │ 0.4         │
│ 46  │ 5.4          │ 3.9         │ 1.3          │ 0.4         │
│ 47  │ 5.8          │ 4.0         │ 1.2          │ 0.2         │
│ 48  │ 5.2          │ 4.1         │ 1.5          │ 0.1         │
│ 49  │ 5.5          │ 4.2         │ 1.4          │ 0.2         │
│ 50  │ 5.7          │ 4.4         │ 1.5          │ 0.4         │

In [29]:
data = by(df, :species, df -> mean(df.petal_length))

3×2 DataFrame
│ Row │ species       │ x1      │
│     │ Categorical…⍰ │ Float32 │
├─────┼───────────────┼─────────┤
│ 1   │ versicolor    │ 4.26    │
│ 2   │ virginica     │ 5.552   │
│ 3   │ setosa        │ 1.464   │

In [57]:
sort!(df, (:sepal_width, :sepal_length));

# sort!(df, (:sepal_width, :sepal_length), rev = (true, false))

In [31]:
head(df)

6×5 DataFrame. Omitted printing of 1 columns
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │
│     │ Float32      │ Float32     │ Float32      │ Float32     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 5.0          │ 2.0         │ 3.5          │ 1.0         │
│ 2   │ 6.0          │ 2.2         │ 4.0          │ 1.0         │
│ 3   │ 6.0          │ 2.2         │ 5.0          │ 1.5         │
│ 4   │ 6.2          │ 2.2         │ 4.5          │ 1.5         │
│ 5   │ 4.5          │ 2.3         │ 1.3          │ 0.3         │
│ 6   │ 5.0          │ 2.3         │ 3.3          │ 1.0         │

In [46]:
@linq df |> where(:petal_width.< 0.2) |> select(:petal_width,:species)

6×2 DataFrame
│ Row │ petal_width │ species       │
│     │ Float32     │ Categorical…⍰ │
├─────┼─────────────┼───────────────┤
│ 1   │ 0.1         │ setosa        │
│ 2   │ 0.1         │ setosa        │
│ 3   │ 0.1         │ setosa        │
│ 4   │ 0.1         │ setosa        │
│ 5   │ 0.1         │ setosa        │
│ 6   │ 0.1         │ setosa        │

# Julia for Data Science

* Data
* Data processing
* **Visualization**

### Data visualization: generating nice looking plots in Julia is straight forward
In what's next, we will see some of the tools that Julia plotting provides to produce high quality figures for your data.

In [ ]:
using Plots
pyplot()

## Bar Plot

In [ ]:
plt = bar(X,Y)
plot(plt,xlabel="species",ylabel="petal_len_mean")

## Scatter Plot

In [ ]:
plt2 = scatter(df.sepal_length, df.sepal_width,group=df.species)
plot(plt2,xlabel = "Length", ylabel = "Width")